<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignStream Login | CodingNepal</title>
  <link rel="stylesheet" href="/css/signin.css">
  <script type="module" src="/js/firebase.js" defer></script>
</head>
<body>
  <div class="wrapper">
    <form action="/login" method="POST">
      <h2>Login</h2>
        <div class="input-field">
        <input type="email" name="email" required />
        <label>Enter your email</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" required />
        <label>Enter your password</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      
        <button type="submit">Log In</button>
      
      <div class="register">
        <p>Don't have an account? <a href="/signup">Register</a></p>
      </div>
    </form>
  </div>
</body>
</html>